@font-face {
  font-family: "Segoe UI";
  src: url("/assets/fonts/segoeui.ttf") format("truetype"),
    url("/assets/fonts/segoeuib.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Segoe UI";
  font-size: 16px;
  margin-top: 0 !important;
}

.App {
  text-align: center;
}

.ant-card,
.ant-collapse,
.ant-typography,
.ant-table-wrapper .ant-table,
.ant-tag {
  font-family: "Segoe UI" !important;
}

.site-logo .ant-image .ant-image-img {
  width: auto !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
